nz-table {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 20px;
  }
  