<!-- <nz-layout class="login-container">
  <nz-content class="login-content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="register-form">
      <h2 class="form-title">Register</h2>

     
       
        <div class="form-group">
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixMail">
              <input nz-input formControlName="emailPro" placeholder="Enter professional email" />
            </nz-input-group>
            <ng-template #prefixMail>
              <i nz-icon nzType="mail" nzTheme="outline"></i>
            </ng-template>
            <div *ngIf="getControl('emailPro')?.invalid && getControl('emailPro')?.touched" class="error">
              Professional email is required
            </div>
          </nz-form-control>
        </div>

      
        <div class="form-group">
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixMail">
              <input nz-input formControlName="emailPerso" placeholder="Enter personal email" />
            </nz-input-group>
            <ng-template #prefixMail>
              <i nz-icon nzType="mail" nzTheme="outline"></i>
            </ng-template>
            <div *ngIf="getControl('emailPerso')?.invalid && getControl('emailPerso')?.touched" class="error">
              Personal email is required
            </div>
          </nz-form-control>
        </div>


        
        <div class="form-group">
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixId">
              <input nz-input formControlName="registrationNu" placeholder="Enter registration number" />
            </nz-input-group>
            <ng-template #prefixId>
              <i nz-icon nzType="idcard" nzTheme="outline"></i>
            </ng-template>
            <div *ngIf="getControl('registrationNu')?.invalid && getControl('registrationNu')?.touched" class="error">
              Registration number is required
            </div>
          </nz-form-control>
        </div>

    
      <div class="button-login-container">
        <button nz-button nzType="primary" [disabled]="isLoading" [nzLoading]="isLoading" class="register-button">
          Register
        </button>
        <div class="login-link">
          <span>or</span>
          <a routerLink="/login">Register now!!</a>
        </div>
      </div>
    </form>
  </nz-content>
</nz-layout> -->